###################################
#            JELLYFIN             #
###################################
JELLYFIN_API_KEY=
JELLYFIN_URL=

###################################
#              SEER               #
###################################
SEERR_API_KEY=
SEERR_URL=

###################################
#              TMDB               #
###################################
TMDB_API_KEY=
TMDB_URL=

###################################
#             NextUp              #
###################################
NEXTUP_RECOMMENDATIONS_DIR=
PLACEHOLDER_FILE_PATH=
# AUTO_CREATE_JELLYFIN_SEERR_USER= # Upcoming Feature

###################################
#           WatchState            #
###################################
WATCHSTATE_USERNAME=
WATCHSTATE_PASSWORD=
WATCHSTATE_URL=
WATCHSTATE_MAIN_USER_TO_JELLYFIN_MAP=

###################################
#         RECOMMENDATIONS         #
###################################
GENERATE_RECOS_FOR=
RECOMMENDATIONS_CRON_SCHEDULE="0 3 * * *"

## Series
DISABLE_SERIES_RECOMMENDATIONS=false
SERIES_LIBRARY_IDS=
MAX_SERIES_DAYS_LOOKBACK=180
MAX_RECOMMENDATIONS_PER_SERIES=20
MIN_EPISODE_WATCH_COUNT=2

## Movies
DISABLE_MOVIE_RECOMMENDATIONS=false
MOVIE_LIBRARY_IDS= # Comma seperated list of library IDs where existing movies are. By default NextUp will pull all available movies user has access to include previous recommendations. Using this can prevent NextUp from considering an existing recommendation as existing on the server.
MAX_MOVIE_DAYS_LOOKBACK=365 # Maximum # of days to lookback at watch history to generate recommendations
MAX_RECOMMENDATIONS_PER_MOVIE=20 # Maximum # of recommendations to generate per movie
MIN_MOVIE_WATCH_PERCENT=90



